<!-- CODE  -->
<!-- <div id="output"> -->
    <div class="code-highlighter">
        <div *ngFor="let codeComment of codeED?.displayable || [CODE_PLACEHOLDER]; let lineIndex=index"
             #executableLine
             [class.highlight]="lineIndex === currentLine"
             [attr.data-comment]="codeComment.comment"
             [attr.data-lineIndex]="lineIndex"
             [innerHTML]="codeComment.code">
        </div>
    </div>
<!-- </div> -->

<div class="comment-box">
    {{currentComment || CODE_PLACEHOLDER.comment}}
</div>

<animator [newGrapher]="grapher"></animator>

<div id="player">
    <div>
        <span>
            Value (ms):&nbsp;
        </span>
        <span #delay>
            {{slider.value}}
        </span>
        <ngx-slider #slider 
                    id="slider"
                    [value]="value" 
                    [options]="options">
        </ngx-slider>

        
        <button *ngIf="!animationHasStarted" 
                [disabled]="!codeED || animationHasTerminated"
                (click)="startAnimation()">
            START
        </button>

        <div *ngIf="animationHasStarted" 
             class="controller" 
             (click)="togglePause()">
            <ng-container *ngIf="animationIsPaused; else pause">
                <img src="assets/img/play.svg">
            </ng-container>
            <ng-template #pause>
                <img src="assets/img/pause.svg">
            </ng-template>
        </div>

        <button [disabled]="!codeED" (click)="setUpAnimation()" 
        >
        <!-- [disabled]="!animationHasStarted" -->
            RESET
        </button>
    </div>
</div>
