<!-- CODE  -->
<div id="user-functions" *ngIf="userFunctions">
    <div *ngFor="let function of userFunctions; 
         let functionIndex = index"
         [attr.data-function-index]="functionIndex"
    >  
        <input *ngFor="let param of function.params; let paramIndex = index"
            [placeholder]="param.name"
            [attr.data-type]="param.type"
            [attr.data-index]="functionIndex + '-' + paramIndex"
            (keyup)="functionInputsAreValid(functionIndex + '-' + paramIndex)"
        >  
        <button (click)="selectUserFunction(functionIndex)"
                [disabled]="!functionInputsAreValid(functionIndex)"
        > 
            {{function.name}}
        </button>
    </div> 
</div>

<div class="code-highlighter">
    <ng-container *ngFor="let codeComment of codeED?.displayable; let lineIndex=index">
        <div *ngIf="lineIndex >= (currentLinesSelection?.start || -1) && lineIndex <= (currentLinesSelection?.end || -1)"
             #executableLine
             [class.highlight]="lineIndex === currentLine"
             [attr.data-lineIndex]="lineIndex"
             [attr.data-comment]="codeComment?.comment"
             [innerHTML]="codeComment?.code || ''"
             
        >
        </div>
    </ng-container>
</div>

<animator [newGrapher]="grapher" [newSpeed]="slider.value" [title]="currentUserFunction"></animator>

<div class="comment-box">
    {{currentComment || ""}}
</div>

<div id="player">
    <div>
        <span>
            Value (ms):&nbsp;
        </span>
        <span #delay>
            {{slider.value}}
        </span>
        <ngx-slider #slider 
                    id="slider"
                    [value]="value" 
                    [options]="options">
        </ngx-slider>

        
        <button *ngIf="!animationHasStarted" 
                [disabled]="!codeED || !currentGenerator"
                (click)="startAnimation()">
            START
        </button>

        <div *ngIf="animationHasStarted" 
             class="controller" 
             (click)="togglePause()">
            <ng-container *ngIf="animationIsPaused; else pause">
                <img src="assets/img/play.svg">
            </ng-container>
            <ng-template #pause>
                <img src="assets/img/pause.svg">
            </ng-template>
        </div>

        <button [disabled]="!codeED" (click)="setUpAnimation()" 
        >
            RESET
        </button>
    </div>
</div>
