<!-- CODE  -->
<div id="output">
    <div id="code-highlighter">
        <div *ngFor="let codeComment of codeED?.displayable; let index=index"
             [attr.data-comment]="codeComment.comment"
             [attr.data-lineIndex]="index"
             [innerHTML]="codeComment.code">
        </div>
    </div>

    <!-- PLOTTER -->
    <!-- <select>
        <option value="list">List</option>
        <option value="tree">Tree</option>
        <option value="barplot">Bar Plot</option>
    </select> -->
</div>



<div id="player">
    <div>
        <span>
            Value: {{slider.value}}
        </span>
        <ngx-slider #slider 
                    id="slider"
                    [value]="value" 
                    [options]="options"
                    (valueChange)="updateDelay(slider.value)">
        </ngx-slider>

        <button id="start">START</button>

        <div id="play-pause-btn" (click)="togglePause()">
            <ng-container *ngIf="animationIsPaused; else elseTemplate">
                <img src="assets/img/play.svg">
            </ng-container>
            <ng-template #elseTemplate>
                <img src="assets/img/pause.svg">
            </ng-template>
        </div>
    </div>
</div>
