@import "../../variables.scss";
@import "../../styles.scss";

$comment-width: 55%;
$min-comment-height: 48px;

:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-shape {
    @extend .flex-row;
    $box-shadow-color: $color5;
    background-color: $white;
    padding: 10px;
    border: solid 2px $color5;
    border-radius: 10px;
    box-shadow: 1px 7px 20px -7px $box-shadow-color;
    transition: all .2s;
}

#user-functions {
    @extend .card-shape;
    grid-column: auto / span 2;
    justify-content: space-around;
    margin: 10px;
    align-items: center;

    & div {
        display: flex;

        & > button {
            @extend .contrast-btn;
            display: flex;
            font-weight: 700;
            font-size: large;
            

            &:disabled {
                @extend .disabled-contrast-btn;

            }
        } 

        & > input + button {
            border-bottom-left-radius: 0; 
            border-top-left-radius: 0; 
        }

        & > input:first-of-type {
            border-bottom-left-radius: 10px; 
            border-top-left-radius: 10px; 
        }
    }
}

.code-highlighter {
    @extend .flex-col;
    font-family: 'Fira Code', monospace;
    width: 100%;
    
    & > * {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: $gray4;
        color: $white;
        border: solid 1px $white;
        min-height: 30px;
        padding-left: 5px;

        &:only-of-type {
            min-height: $min-comment-height;
        }
        
        &.highlight {
            background-color: $color3;
            color: $white;
        }
    }
}

.comment-box {
    @extend .flex-row;
    @extend .flex-center;
    min-height: $min-comment-height;
    padding: 10px;
    border: solid 2px $white;
    background-color: $color6;
    color: $white;
    font-weight: 600;
}

#player { 
    @extend .flex-row;
    justify-content: center;
    margin-top: 10px;

    & > * {
        @extend .card-shape;
        @extend .flex-center;
        width: 550px;
    }

    & button {
        @extend .contrast-btn;
        font-size: medium;
        height: 40px;
        width: 75px;
        animation: all .2s;

        &:disabled {
            @extend .disabled-contrast-btn;
        }

        &:last-child {
            margin-left: 10px;
        }
    }

    & .controller > img {
        height: 40px;
        width: 75px;
        padding-top: 5px;
        cursor: pointer;

        &:hover {
            filter: opacity(.8);
        }
    }

    & #slider {
        $padding-side: 3%;
        width: 40%;
        margin-left: $padding-side;
        margin-right: $padding-side;
    }
}