@import "../../variables.scss";

:host > .accordion-container {
    padding: 0 90px;

    & .ac {
        border: none;
    }

    & .ac-trigger {
        background-color: $color5;
        color: $white;
        outline: none;
    }

    & .ac-text {
        background-color: $color1;
    }
}