<h1>Welcome to the Instructions Page!</h1>

<div class="accordion-container">

    <div class="ac">
        <h2 class="ac-header">
            <button class="ac-trigger">What is Grapher.js</button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">
                Grapher.js is a website designed to help students visually learning data structures and algorithms.
            </p>
        </div>
    </div>

    <div class="ac">
        <h2 class="ac-header">
            <button class="ac-trigger">Instructions for students</button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">
                Your teacher should have provided you with a configuration file in format JSON.
                That file should be used in the <u><b><a routerLink="../animation">Animation Page</a></b></u> to generate the animation.

                Once the configuration is loaded and accepted byt the software, the animation will automatically appear in your screen.

                To understand what each component does, please refer to the next section. 
            </p>
        </div>
    </div>

    <div class="ac">
        <h2 class="ac-header">
            <button class="ac-trigger">Understanding the components (student)</button>
        </h2>
        <div class="ac-panel">
            <div class="ac-text">
                There are 3 main components in front of you:
                <ul>
                    <li><b>Animation section:</b></li> Here you get the chance to understand the mechanism of an algorithm or to see a data structure 
                    behaves when different methods are called.  
                    <li><b>Code:</b></li> This part gives you an idea of what line of code corresponds to each operation performed in the animation section. 
                    Further comments are provided in the the comment box.
                    <li><b>Player bar:</b></li> This component allows you to directly interact with the animation by starting it, stopping and resuming it, 
                    and selecting the animation speed.  
                </ul>
            </div>
        </div>
    </div>
    
    <div class="ac">
        <h2 class="ac-header">
            <button class="ac-trigger">Instructions for teachers</button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">Content 3</p>
        </div>
    </div>

  </div>