@import "../../variables.scss";

:host > .accordion-container {
    padding: 0 90px;

    & details[open] {
        padding-bottom: 22px;
    }


    & details {
        border: none;
        margin-top: 20px;

        & > summary {
            background-color: $color5;
            padding: 12px;
            color: $white;
            outline: none;
            border-radius: 10px;
            width: 100%;
            cursor: pointer;
    
            & > h4 {
                display: inline-block;
                margin: 0;
            }
        }
        
        & > div {
            background-color: $color1;            
            margin-top: -7px;
            padding: 60px;
            border-radius: 0 0 12px 12px;
            text-align: justify;
            
            & > img,
            & > .img-ctn {
                padding: 20px;
            }

            & img.center {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    & .img-ctn {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}