<div [ngClass]="['fixed-ctn', 
                 dragging ? 'close-hand' : '']"
    (mousewheel)="showVal($event)" 
    (mousedown)="setDragging(true, $event)"
    (mousemove)="shiftGraph($event)" 
    (mouseup)="setDragging(false)"

>
    <div *ngIf="grapher"
         class="node-ctn" 
         [ngStyle]="{'transform': 'scale(' + scale + ')'}"
    >
        <div [class]="dataStructure | lowercase">
            <div *ngFor="let node of nodes; let nodeIndex = index"
                 [attr.data-index]="nodeIndex"
                 [attr.data-value]="node.value"
                 [style]="
                          'bottom:' + initialBottomMargin + 'px;' +
                          'left:' + (nodeIndex * (nodeSize + barsPadding) + initialLeftMargin) + 'px;' +
                          'height:' + (normalisedNodeValue(node.value) * maxBarHeight + minBarHeight) + 'px;'
                         "
                 [ngClass]="[nodeType | lowercase, 
                             node.mode | lowercase,
                             'node']"
            >
                <span>{{node.value}}</span>
            </div>
        </div>
    </div>
</div>
