<div [ngClass]="['fixed-ctn', 
                 dragging ? 'close-hand' : '']"
    (mousewheel)="showVal($event)" 
    (mousedown)="setDragging(true, $event)"
    (mousemove)="shiftGraph($event)" 
    (mouseup)="setDragging(false)"

>
    <div *ngIf="grapher"
         class="node-ctn" 
         [ngStyle]="{'transform': 'scale(' + scale + ')'}"
    >
        <div [class]="dataStructure | lowercase">
            <div *ngFor="let node of nodes; let nodeIndex = index"
                 [id]="'node-' + node.id"
                 [attr.data-index]="nodeIndex"
                 [attr.data-value]="node.value"

                 [style.bottom.px]="graphBottomMargin"
                 [style.height.px]="node.height"
                 [style.left.px]="node.left"
                 [style.--mode-color]="node.HEXColor"
                 [style.--duration]="this.duration"
                 
                 [ngClass]="[nodeType | lowercase, 
                             node.mode | lowercase,
                             'node']"
            >
                <span>{{node.value}}</span>
            </div>
        </div>
    </div>
</div>
