@import "../../styles.scss";

.layout {
    width: 100%;

    & > * {
        @extend .flex-row;
        height: 400px;
        & > * {
            width: 50vw;
        }
    }
}

:host {
    // display: grid;
    // grid-template-columns: minmax(100px, 30vw) 70vw;

    

    & > #js-code-editor {
        height: 100%;
        width: 100%;
        border:1px solid black;
        grid-area: editor;
    }
    
    & > #display-code {
        border: solid 2px blue;
        grid-area: display-code;
        width: 100%;
        
        #lines-table {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: solid 2px black;
            background-color: gray;
            padding: 2px;
            padding-bottom: 0;

            &__head {
                @extend .flex-row;
                justify-content: space;
                width: 100%;
                background-color: rgb(224, 224, 224);
                
                & .code-comment-ctn > * {
                    text-align: center;
                    font-weight: 900;
                    font-size: large;
                }
            }
            
            &__body {
                background-color: #fff;
                width: 100%;
                
                & > .raw-line:nth-of-type(even) {
                    background-color: rgb(219, 219, 219);
                }
            }
            
            .raw-line {
                @extend .flex-row;
                width: 100%;
                
                .counter, 
                .bin {
                    @extend .flex-row;
                    // justify-content: flex-end;
                    justify-content: center;
                    align-items: center;
                }

                .bin {

                    transition: all .2s;

                    & > img {
                        cursor: pointer; 
                        width: 15px; 
                        height: 17px;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
                
                .counter {
                    font-weight: 700;
                    width: 20px;
                    padding-right: 2px;
                    color:#fff;
                    background-color: rgb(73, 73, 73);

                    &:nth-of-type(even) {
                        background-color: rgb(92, 92, 92);
                    }
                }
                
                .code-comment-ctn {
                    @extend .flex-row;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    
                    & > * {
                        width: 100%;
                        padding-left: 2px;
                    }
                }
            }
            
            &__btn {
                width: 100%; 
                padding: 10px;
                
                & > button {
                    border-radius: 10px;
                    border: none;
                    width: 100%;
                    padding: 3px;
                    font-size: larger;
                }
            }
        } 
    }
}