@import "../../styles.scss";
@import "../../variables.scss";

$max-height: 450px;
$editor-width: 55%;

.btn-list {
    width: 100%; 
    padding: 10px;
    
    @extend .flex-row;
    justify-content: space-between;
    background-color: $color5;

    // &:last-of-type {
    //     margin-top: 10px;
    // }
    
    & > button {
        width: 48%;
        font-size: larger;
    }
}

:host {
    @extend .flex-col;

    & > .code {

        @extend .flex-row;
        max-height: $max-height;

        & > #codeEditor {
            width: $editor-width;
        }
        
        & > #display-code {
            width: 100% - $editor-width;
            
            #lines-table {
                @extend .flex-col;
                @extend .flex-center;
                width: 100%;
                border: solid 2px $black;
                background-color: $color5;
                padding: 2px;
                padding-bottom: 0;
                max-height: $max-height;
                overflow: hidden;

                .raw-line {
                    @extend .flex-row;
                    width: 100%;

                    & .counter {
                        font-weight: 700;
                        width: 25px;
                        color: $white;
                        background-color: $color4;
                    }
                    
                    & .code-comment-ctn {
                        @extend .flex-row;
                        @extend .flex-center;
                        width: 100%;
                        
                        & > * {
                            width: 100%;
                            padding-left: 2px;
                        }

                        & > .line-comment > span {
                            background: transparent !important;
                        }
                    }
                }

                &__head {
                    @extend .flex-row;
                    // justify-content: space;
                    width: 100%;
                    
                    & .raw-line > * {
                        background-color: $color5;
                        color: $white;
                        text-align: center;
                        font-weight: 600;
                        font-size: large;

                        &.head-counter {
                            width: 25px;
                        }
                    }
                }
                
                &__body {
                    background-color: $color1;
                    width: 100%;
                    min-height: max-content;
                    overflow-y: scroll;

                    & > .raw-line:nth-of-type(even) {
                        background-color: $white;
                    }

                    & .raw-line {

                        .counter, 
                        .bin {
                            @extend .flex-row;
                            @extend .flex-center;
                            padding: 0 2px;
                        }
        
                        .bin {
                            filter: grayscale(100%);
                            width: 20px;
                            transition: all .2s;
        
                            & > img {
                                cursor: pointer; 
                                width: 13px; 
                                height: 17px;
                            }
        
                            &:hover {
                                filter: grayscale(0%);
                            }
                        }
                    }
                }
                
                
                &__btn {
                    @extend .btn-list;
                } 
            } 
        }
    }

    & > .config-btn {
        @extend .btn-list;
        background-color: $color6;
        align-items: center;
        font-size: larger;
    
        & > button {
            width: 23%;
        }
        
        & label {
            color: $white;
            padding: auto 5px;
        }
    }
}