<div class="code">

    <!-- Monaco Code Editor -->
    <ngx-codemirror
        #codeEditor
        id="codeEditor"
        [(ngModel)]="editorCode"
        [options]="editorOptions"
    >
    </ngx-codemirror>
    
    <!-- Code to be displayed -->
    <div id="display-code">
        <div id="lines-table">
            
            <div id="lines-table__head">
                <div class="raw-line">
                    <div class="head-counter">#</div>
                    <div class="code-comment-ctn">
                        <div class="line-code">Code</div>
                        <div class="line-comment">Comment</div>
                    </div>
                </div>
            </div>
            
            <div id="lines-table__body" #codeCommentBlock>
                <div class="raw-line" *ngFor="let codeComment of displayableCodeComments; let lineIndex=index">
                    <div class="counter">{{lineIndex}}</div>
                    <div class="code-comment-ctn">
                        <div class="line-code-{{lineIndex}}" contenteditable 
                            (paste)="removeStyling($event)"
                            (keydown.enter)="addCodeCommentLine(lineIndex)"
                            [innerHTML]="codeComment.code"
                        >
                        </div>
                        <div class="line-comment" contenteditable
                            (paste)="removeStyling($event)"
                            [innerHTML]="codeComment.comment"
                        >
                        </div>
                    </div>
                    <div class="bin" (click)="deleteCodeCommentLine(lineIndex)">
                        <img src="assets/img/red_bin.png">
                    </div>
                </div>
            </div>

            <div id="lines-table__btn">
                <button (click)="addCodeCommentLine()">New Line</button> 
                <button id="display-code__btn" 
                        (click)="generateAnimation()"
                >
                    Generate Animation
                </button>
            </div>
        </div>       
    </div>
</div>
<div class="config-btn">
        <select id="data-structure" 
                #dataStructure
                (change)="setDataStructure(dataStructure.value)">
            <option selected>
                BarPlot
            </option>
            <option>
                List
            </option>
        </select>
    <div>
        <label for="initial-values">Initial Values:</label>
        <input id="initial-values" 
               #initialValues
               type="text" 
               [placeholder]="getInitialValuesPlaceholder()"
               [value]="initialValuesAsString"
        >
        <label for="is-numerical" 
               [hidden]="dataStructure.value == 'BarPlot'"
        >
            Numerical Values</label>
        <input id="is-numerical" 
               #isNumerical 
               type="checkbox" 
               (click)="setIsNumerical(isNumerical.checked)"
               [hidden]="dataStructure.value == 'BarPlot'"
        >
    </div>
    <button (click)="downloadConfig()">Save Configuration</button>
    <button (click)="configLoader.click()">Load Configuration</button>
    <input #configLoader (change)="loadConfig($event)" type="file" hidden>
</div>