<!-- Monaco Code Editor -->
<ngx-codemirror
    #codeEditor
    [(ngModel)]="code"
    [options]="editorOptions"
></ngx-codemirror>
 
<!-- Code to be disaplyed -->
<div id="display-code">
    <div id="lines-table">
        
        <div id="lines-table__head">
            <div class="raw-line">
                <div class="counter">#</div>
                <div class="code-comment-ctn">
                    <div class="line-code">Code</div>
                    <div class="line-comment">Comment</div>
                </div>
            </div>
        </div>
        
        <div id="lines-table__body" #codeCommentBlock>
            <div class="raw-line" *ngFor="let line of lines; let lineCount=index">
                <div class="counter">{{lineCount}}</div>
                <div class="code-comment-ctn">
                    <div class="line-code" contenteditable 
                         [attr.data-placeholder]="CODE_PLACEHOLDER"
                         (keydown.enter)="addCodeCommentLine()" 
                         (keydown.tab)="indentCode(lineCount)"
                         (keydown.shift.tab)="indentCode(lineCount, true)"
                         [innerHTML]="line.code">
                    </div>
                    <div class="line-comment" contenteditable 
                         [attr.data-placeholder]="COMMENT_PLACEHOLDER"
                         [innerHTML]="line.comment">
                    </div>
                </div>
                <div class="bin" (click)="deleteCodeCommentLine(lineCount)">
                    <img src="assets/img/bin.png">
                </div>
            </div>
        </div>

        <div id="lines-table__btn" >
            <button (click)="addCodeCommentLine()">New Line</button>
            <button id="display-code__btn" (click)="getCodeED()  ">Generate</button>
        </div>
    </div>       
</div>
