<h1>Welcome to the Animation Page!</h1>

<hr>

<div class="config-ctn">
    <label for="input">Import Configuration: &nbsp;</label>
    <input id="input" type="file" (change)="loadConfig($event)" accept=".json">
    <hr>
    <label for="template">Or choose an existing one: &nbsp;</label>
    
    <select #template id="template">
        <optgroup  *ngFor="let templateOption of templateOptions | keyvalue" 
                    [label]="templateOption.key | titlecase"
        >
            <option *ngFor="let algorithm of templateOption.value | keyvalue" 
                    [value]="algorithm.value"
            >
                    {{algorithm.key}}
            </option>
        </optgroup>
    </select>
    <button class="confirm-btn" (click)="loadTemplateConfig(template.value)">
        Confirm
    </button>
</div>


<code-output *ngIf="config" [newCodeED]="config"></code-output>