$color1: #ccf0f8;
$color2: #a7c8df;
$color3: #3ddad8;
$color4: #2a93d5;
$color5: #135589;
$color6: #092a42;

$white: #fff;
$gray1: rgb(224, 224, 224);
$gray2: rgb(190, 190, 190);
$gray3: rgb(148, 148, 148);
$gray4: rgb(88, 88, 88);
$gray5: rgb(34, 34, 34);
$black: #000;

$error: rgb(221, 0, 0);
$ok: rgb(26, 143, 71);